html {
	box-sizing: border-box;
	background: #eeeeee;
	font-family: "Abel", sans-serif;
	font-size: 20px;
	font-weight: 200;
}
body {
	margin: 0;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

.site-wrap {
	max-width: 700px;
	margin: 70px auto;
	background: white;
	padding: 40px;
	text-align: justify;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
	transform: scale(0.98);
	transition: transform 0.5s;
}

body.fixed-nav .site-wrap {
	transform: scale(1);
}

header {
	text-align: center;
	height: 50vh;
	background: url("./images/grass.png") bottom center no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	color: white;
	font-size: 7vw;
	text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.2);
}

nav {
	background: black;
	top: 0;
	width: 100%;
	transition: all 0.5s;
	position: relative;
	z-index: 1;
}

body.fixed-nav nav {
	position: fixed;
	box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}
img {
	max-width: 100%;
	margin: auto;
	display: block;
}
.img-question {
	max-width: 65%;
}
/* input {
	margin: auto;
	display: block;
} */

nav li {
	flex: 1;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

li.logo {
	max-width: 0;
	overflow: hidden;
	background: white;
	transition: all 0.5s;
	font-weight: 600;
	font-size: 30px;
}

li.logo a {
	color: black;
}

.fixed-nav li.logo {
	max-width: 500px;
}

nav a {
	text-decoration: none;
	padding: 20px;
	display: inline-block;
	color: white;
	transition: all 0.2s;
	text-transform: uppercase;
}
footer {
	/*background: #333;*/
	bottom: 0;
	font-size: 13px;
	position: relative;
	width: 100%;
	z-index: 990;
	text-align: center;
}
.button {
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	font-family: "Abel", sans-serif;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #4caf50;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
	margin: 15px;
	left: 10%;
	position: relative;
	/*transform: translate(-50%, -50%);
	/*top: 0;
	/* bring your own prefixes 
	transform: translate(-50%, -50%); */
}

.button:hover {
	background-color: #3e8e41;
}

.button:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
.button#reset-button {
	background-color: red;
}
footer {
	position: relative;
	margin: auto;
	bottom: 10px;
	max-width: 15%;
	/*max-height: 50px; /* Height of the footer */
	background: #c0c6c1;
	text-align: center;
	border-radius: 5px;
}
input[type="text"] {
	font-size: 20px;
	font-family: "Abel", sans-serif;
	font-weight: 150;
}
